.home-container {
  min-height: calc(100vh - 60px);
  overflow: hidden;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FA 100%);
}

.home-content {
  width: 612px;
  margin-top: 180px;
  margin-left: 120px;
}

.text-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #062847;
}

.text {
  margin-top: 24px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: normal;
  line-height: 36px;
  color: #5A6774;
}

.text :first-child {
  margin-top: 0;
}

.text :last-child {
  margin-bottom: 0;
}

.email {
  color: #1890ff;
}